<div class="container">
    <div class="text-end py-5">
       <button class="btn btn-primary" (click)="onAddContactClick()"> Add Contact</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Phone Book Type</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of contacts;index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{contact.name}}</td>
          <td>{{contact.phoneNumber}}</td>
          <td>{{contact.phoneBookTypeId}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  